/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
.hidden {
  display: none; }

.shown {
  display: block; }

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  background-color: #f44332;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-weight: 400;
  line-height: 1.7;
  font-family: 'Quicksand', sans-serif; }

.heading-primary--main {
  display: block;
  font-size: 5rem;
  font-weight: 400;
  text-align: center; }

.heading-primary--sub {
  display: block;
  font-size: 3.5rem;
  font-weight: 400; }

.highlight-none {
  color: #FFFFFF; }

.highlight-correct {
  color: #9EF98B; }

.highlight-wrong {
  color: #FF5656; }

.try-again {
  display: block;
  background-color: #ffee58;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 4px;
  font-size: 3.4rem;
  border: 2px solid #000000;
  padding: 1rem 2rem; }

.character-count {
  font-size: 2rem;
  color: grey; }

.modal {
  position: fixed;
  /* Stay in place */
  z-index: 10;
  /* Sit on top */
  padding-top: 25px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }
  .modal-content {
    position: relative;
    background-color: #ffee58;
    margin: auto;
    padding: 2rem 6rem;
    width: 80%;
    height: 90vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s; }
    @media only screen and (max-width: 37.5em) {
      .modal-content {
        padding: 1rem 2rem;
        height: 80vh; } }
  .modal-header {
    font-size: 4.5rem;
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .modal-header {
        line-height: 1.2; } }

.textarea {
  width: 100%;
  height: 20rem;
  background-color: #000000;
  border: 1px solid #FFFFFF;
  font-size: 3rem;
  padding: 1rem;
  padding-left: 2rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 8px; }
  .textarea:focus {
    outline: none; }
  .textarea__container {
    text-align: center;
    margin: 8rem; }
    @media only screen and (max-width: 37.5em) {
      .textarea__container {
        margin: 1.5rem; } }

#words__container {
  margin-top: 4rem; }
  @media only screen and (max-width: 37.5em) {
    #words__container {
      margin-top: 2rem; } }

.results__text {
  font-size: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .results__text {
      line-height: 1;
      margin-bottom: 2rem; } }

#root {
  width: 100%;
  height: 100vh; }

.title__container {
  margin-top: 2rem; }

.heading__container {
  background-color: #FFFFFF;
  margin: 8rem;
  padding: .5rem;
  padding-left: 2rem;
  border-radius: 8px; }
  @media only screen and (max-width: 37.5em) {
    .heading__container {
      margin: 1.5rem; } }
