// COLORS
$color-primary: #f44332;
$color-primary-light: #ff795b;
$color-primary-dark: #b90005;

$color-secondary: #ffee58;
$color-secondary-light: #ffff8b;
$color-secondary-dark: #c9bc1f;

$color-black: #000000;
$color-white: #FFFFFF;


