#root {
  width: 100%;
  height: 100vh;
}

.title__container {
  margin-top: 2rem;
}

.heading__container {
  background-color: $color-white;
  margin: 4rem;
  padding: .5rem;
  padding-left: 2rem;
  border-radius: 8px;

  @include respond(phone) {
    margin: 1.5rem;
  }
}

